# Drake cache
\.drake

# Figures are derived from code
analysis/figures/

# Parameter draw files are large
# Version them with OSF instead
analysis/data/derived_data/parameter-draws.csv
analysis/data/derived_data/biome-parameter-draws.csv

# Hector and CMQ log files
logs/

# GCAM output (huge!)
gcam-output/

# Saved simulation outputs
analysis/data/output/
.drake_history
